html{height:100%;}
body{
    font:14px/1.5; 
    word-wrap:break-word;
    word-break:break-all;
    -webkit-text-size-adjust:none;
    background:#fff;
    color:#333;
}
body,dl,dd,h1,h2,h3,h4,h5,h6,p,form,ul,ol,blockquote{margin:0}
img{
    border:0 none;
    vertical-align:middle
}
input,select,textarea{
    font-size:14px;
    color:#333
}
input{
    vertical-align:middle;
    padding:2px;
    margin:0
}
table{
    border-collapse:collapse;
    border-spacing:0
}
select,input,button{font:14px/20px Verdana,Simsun,Helvetica,Arial,sans-serif;}
em,i,cite,blockquote{font-style:normal}
ul,ol{
    list-style:none outside;
    padding:0
}
h1,h2,h3,h4,h5,h6{font-size:100%}
textarea{
    overflow-y:auto;
    padding:3px
}
a{
    color:#428bca;
    text-decoration:none;
    outline:0
}
a:hover,a:active{
    color:#2a6496;
    text-decoration:none;
}
a:focus{outline:0;}
button::-moz-focus-inner{
    border:0;
    padding:0;
}
figure{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
.ppr{position:relative;}
.ppa{position:absolute;}
.fl{float:left}
.fr{float:right}
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.mlr5{margin:0 5px;}
.mt5{margin-top:5px;}
.mr5{margin-right:5px;}
.mt10{margin-top:10px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.mr10{margin-right:10px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.pl5{padding-left:5px;}
.pb10{padding-bottom:10px;}
.pt20{padding-top:20px;}
.pl10{padding-left:10px;}
.ptb20{padding:20px 0;}
.grayc{color:#ccc}
.gray6{color:#666}
.gray9{color:#999}
.emstyle{font-style:italic}
.clear{clear:both}
.clearfix:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.clearfix{*height:1%;}
.none{display:none}
.block{display:block;}
.minheight500{
    min-height:500px;
    height:auto !important;
    height:500px;
    overflow:visible;
}
.wrap-box{
    width:960px;
    margin:0 auto;
}
.blue,.blue a:link,.blue a:visited{color:blue;}
.blue a:hover{color:#f60;}
.white,.white a:link,.white a:visited{color:#fff;}
.white a:hover{color:#ff0;}
.red,.red a:link,.red a:visited{color:#f00;}
.red a:hover{color:#f60;}
.orange,.orange a:link,.orange a:visited{color:#ffa500;}
.orange a:hover{color:#f60;}
@font-face{
    font-family:'icomoon';
    src:url('../static/fonts/icomoon.eot');
    src:url('../static/fonts/icomoon.eot?#iefix') format('embedded-opentype'),url('../static/fonts/icomoon.woff') format('woff'),url('../static/fonts/icomoon.ttf') format('truetype'),url('../static/fonts/icomoon.svg#icomoon') format('svg');
    font-weight:normal;
    font-style:normal;
}
.icon-font {
    font-family:'icomoon';
    font-weight:400;
    font-style:normal;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
}
.require-red{
    color:#f60;
    font-family:serif;
    margin-right:3px;
}

.topbar-wrap{
    height:50px;
    line-height:50px;
    background:#1A1A1A;
}
.topbar-logo-wrap{float:left;}
.topbar-inner{
    font-size:18px;
    padding:0 20px;
}
.topbar-logo{
    float:left;
    width:150px;
    text-align:center;
}
.navbar-list{float:left;}
.top-info-wrap{float:right;}
.navbar-list li{float:left;}
.navbar-list li a{
    float:left;
    margin-right:5px;
    padding:0 25px;
    text-shadow:1px 1px 1px #000;
}
.navbar-list li a:hover{background:#343434;}
.navbar-list li a.on{
    color:#fff;
    text-shadow:1px 1px 1px #003;
    background:#033b70;
}
.top-info-list li{float:left;}
.top-info-list li a{
    margin-left:5px;
    padding:0 20px;
    display:inline;
    zoom:1;
}
.top-info-list li a:hover{background:#343434;}